<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqKCkEom4EdVjYMD8uOxWT__3RWJKtjwg</string>
	<key>GCM_SENDER_ID</key>
	<string>288028547504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foodApp.Food-Recipe-App-iOS</string>
	<key>PROJECT_ID</key>
	<string>food-recipe-cf529</string>
	<key>STORAGE_BUCKET</key>
	<string>food-recipe-cf529.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288028547504:ios:0833adb36c49b5e20e1e75</string>
</dict>
</plist>